@charset"UTF-8";
/*--- 姚丽娟 1028---*/
.web-page{
	width: 100%;
	min-height: 100%;
	padding-bottom: 195px;
	box-sizing: border-box;
	position: relative;
}
.web-page .pre-bottom{
	width: 100%;
	height: 195px;
	background-color: #2b3e59;
	position: absolute;
	left: 0;
	bottom: 0;
}
.pre-top{
	width: 100%;
	height: 117px;
	line-height: 117px;
	background-color: #fff;
	font-size: 30px;
	font-weight: bold;
	color: #011e3b;
}
.pre-top .logo{
	margin-right: 25px;
}
.pre-banner{
	width: 100%;
	height: 435px;
	background-color: #00479d;
	margin-bottom: 45px;
}
.pre-banner .wrapper{
	height: 100%;
	background: url("../images/ban-bg.png")no-repeat right -35px;
	padding: 55px 80px 0px 20px;
	box-sizing: border-box;
}
.pre-banner .txt{
	width: 600px;
	color: #fff;
	font-size: 16px;
	line-height: 34px;
	padding-top: 40px;
	box-sizing: border-box;
}
.pre-banner .pic{
	width: 424px;
	height: 219px;
	margin-top: 50px;
}
.pre-title{
	height: 32px;
	line-height: 32px;
	font-size: 18px;
	color: #000000;
	font-weight: bold;
	padding-left: 15px;
	border-bottom: 1px solid #d2d2d2;
	position: relative; 
}
.pre-title:before{
	display: block;
	content:"";
	width: 4px;
	height: 17px;
	background: url("../images/icon-tit.png")no-repeat;
	position: absolute;
	left: 3px;
	top: 8px;
}
.pre-section1{
	width: 100%;
	background-color: #fff;
	margin-bottom: 100px;
}
.pre-section1 .apply{
	margin-top: 50px;
}
.pre-section1 .apply li{
	width: 260px;
	text-align: center;
	margin-right: 35px;
}
.pre-section1 .apply li:last-child{
	margin-right: 0;
}
.pre-section1 .apply .img{
	width: 104px;
	height: 104px;
	line-height: 104px;
	background: url("../images/apply-bg.png")no-repeat;
	margin:0 auto 25px;
}
.pre-section1 .apply .name{
	width: 100%;
	height: 32px;
	line-height: 32px;
	font-size: 18px;
	color: #000;
	font-weight: bold;
	margin-bottom: 10px;
}
.pre-section1 .apply .des{
	padding: 0 8px;
	color:#000;
	line-height: 22px;
	text-align: left;
}
.pre-section2{
	margin-bottom: 50px;
}
.pre-section2 .large{
	width: 100%;
	height: 450px;
	background-color: #eff4f9;
}
.pre-section2 .content{
	justify-content: center;
}
.pre-section2 .value{
	width: 240px;
	margin-top: 72px;
}
.pre-section2 .value li{
	width: 100%;
	text-align: center;
	padding-bottom: 50px;
	box-sizing: border-box;
}
.pre-section2 .value li:nth-child(2n+1){
	border-bottom: 1px solid #dcdcdc;
	margin-bottom: 30px;
}
.pre-section2 .value .num{
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #00479d;
	border-radius: 50px;
	font-size: 28px;
	color: #fff;
	font-weight: bold;
	margin:0 auto 12px;
}
.pre-section2 .value .name{
	line-height: 34px;
	font-size: 18px;
	color: #000;
	font-weight: bold;
}
.pre-section2 .pic{
	margin:140px 60px 0;
}
.pre-section3{
	margin-bottom: 50px;
	background-color: #fff;
}
.pre-section3 .pre-title{
	margin-bottom: 30px;
}
.pre-section3 .list{
	margin-top: 60px;
	width: 600px;
}
.pre-section3 .list .tit{
	display: inline-block;
	padding: 0 10px;
	color: #fff;
	height: 32px;
	line-height: 32px;
	border-radius: 3px;
	background-color: #00479d;
	font-size: 16px;
	margin-bottom: 20px;
}
.pre-section3 .list ul{
	margin-bottom: 90px;
}
.pre-section3 .list li{
	height: 42px;
	line-height: 42px;
	font-size: 16px;
	color: #000;
	white-space: nowrap;
}
.pre-section4 .pre-title{
	margin-bottom: 45px;
}
.pre-section4{
	height: 430px;
	margin-bottom: 75px;
}
.pre-section4 .wrapper{
	height: 430px;
	background: url("../images/img-res.png")no-repeat right bottom;
}
.pre-section4 .content{
	margin-right: 80px;
}
.pre-section4 li{
	margin-bottom: 50px;
}
.pre-section4 li span{
	display: inline-block;
	vertical-align: middle;
	line-height: 34px;
}
.pre-section4 .type{
	font-size: 20px;
	font-weight: bold;
	color:#00479d;
	margin-right: 20px;
}
.pre-section4 .circle{
	width: 12px;
	height: 12px;
	border-radius: 12px;
	border:1px solid #00479d;
	box-sizing: border-box;
	margin-right: 20px;
	position: relative;
}
.pre-section4 .circle:after{
	display: block;
	content:'';
	width: 1px;
	height: 70px;
	background-color: #00479d;
	position: absolute;
	top: 12px;
	left: 5px;
}
.pre-section4 li:first-child .circle:before{
	display: block;
	content:'';
	width: 1px;
	height: 15px;
	background-color: #00479d;
	position: absolute;
	left: 5px;
}
.pre-section4 li:first-child .circle:before{
	bottom: 12px;
}
.pre-section4 li:last-child .circle:after{
	height: 15px;
}
.pre-section4 .name{
	font-size: 16px;
	color: #000;
}
.pre-section5{
	margin-bottom: 60px;
}
.pre-section5 .pre-title{
	margin-bottom: 50px;
}
.pre-section5 .content{
	padding: 0 60px;
	box-sizing: border-box;
}
.pre-section5 li{
	width: 260px;
	text-align: center;
	margin-right: 150px;
}
.pre-section5 li:last-child{
	margin-right: 0;
}
.pre-section5 .img{
	margin-bottom: 25px;
}
.pre-section5 .name{
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	font-weight: bold;
	color: #00479d;
	margin-bottom: 10px;
}
.pre-section5 .des{
	height: 32px;
	line-height: 32px;
	font-size: 16px;
	color: #000;
}
.pre-section6{
	margin-bottom: 50px;
}
.pre-section6 .content{
	height: 309px;
	background: url("../images/img-service.png")no-repeat right top;
	padding-top: 50px;
	box-sizing: border-box;
}
.pre-section6 li{
	width: 272px;
	height: 84px;
	background-color: #eff4f9;
	text-align: center;
	padding: 0 8px;
	box-sizing: border-box;
	margin:0 35px 35px 0px;
}
.pre-section6 li:nth-child(4n){
	margin-right: 0;
}
.pre-section6 .name{
	height: 32px;
	line-height: 32px;
	font-size: 16px;
	color: #00479d;
	font-weight: bold;
	margin: 10px 0px 5px;
}
.pre-section6 .des{
	height: 24px;
	line-height: 24px;
	font-size: 13px;
	color: #000;
}
.pre-section7{
	margin-bottom: 120px;
}
.pre-section7 .title,
.pre-section8 .title{
	height: 51px;
	line-height: 51px;
	font-size: 18px;
	color: #000;
	font-weight: bold;
	margin-bottom: 45px;
}
.pre-section7 .title img,
.pre-section8 .title img{
	margin-right: 10px;
}
.pre-section7 .txt .box,
.pre-section8 .txt .box{
	display: inline-block;
	border-radius: 3px;
	border:1px dashed #818d9d;
	padding: 15px 10px 20px;
	box-sizing: border-box;
	position: relative;
}
.pre-section7 .txt .box:before,
.pre-section8 .txt .box:before{
	display: block;
	content:"";
	width: 44px;
	height: 44px;
	background: url("../images/icon-sign.png")no-repeat;
	position: absolute;
}
.pre-section7 .txt .box:after,
.pre-section8 .txt .box:after{
	display: block;
	content:"";
	height: 1px;
	background-color: #00479d;
	position: absolute;
}
.pre-section7 .txt .name,
.pre-section8 .txt .name{
	height: 32px;
	line-height: 32px;
	font-size: 16px;
	color: #00479d;
	font-weight: bold;
	margin-bottom: 20px;
}
.pre-section7 .txt .des,
.pre-section8 .txt .des{
	line-height: 22px;
	color: #000;
}
.pre-section7 .box1{
	margin:55px 0px 30px 130px;
}
.pre-section7 .box2{
	margin:0px 0px 75px 130px;
}
.pre-section7 .box3{
	margin-left: 65px;
}
.pre-section7 .box1 .box:before{
	left:-475px;
	top: 5px;
}
.pre-section7 .box1 .box:after{
	width: 430px;
	left: -430px;
	top: 25px;
}
.pre-section7 .box2 .box:before{
	left:-257px;
	top: 5px;
}
.pre-section7 .box2 .box:after{
	width: 212px;
	left: -212px;
	top: 25px;
}
.pre-section7 .box3 .box:before{
	left:-402px;
	top: 5px;
}
.pre-section7 .box3 .box:after{
	width: 360px;
	left: -360px;
	top: 25px;
}
.pre-section8{
	height: 820px;
}
.pre-section8 .wrapper{
	height: 100%;
	background:url("../images/model-bg.png")no-repeat 290px 380px;
}
.pre-section8 .title{
	margin-bottom: 0;
}
.pre-section8 .flx{
	justify-content: space-between;
}
.pre-section8 .box1{
	margin:180px 0px 190px 100px;
}
.pre-section8 .box2{
	margin-left: 100px;
}
.pre-section8 .box{
	display: block;
	width: 290px;
}
.pre-section8 .box1 .box:before,
.pre-section8 .box2 .box:before{
	right: -495px;
	top: 10px;
}
.pre-section8 .box1 .box:after,
.pre-section8 .box2 .box:after{
	width: 455px;
	right: -455px;
	top: 35px;
}
.pre-section8 .img{
	margin-top: -46px;
}
.pre-bottom .wrapper{
	padding:16px 0 0 70px;
	box-sizing: border-box;
}
.pre-bottom .qr{
	width: 134px;
	height: 164px;
	border:1px solid #627085;
	margin-right: 58px;
}
.pre-bottom .info{
	margin-bottom: 20px;
	position: relative;
}
.pre-bottom .info .tit{
	height: 26px;
	line-height: 26px;
	font-size: 16px;
	color:#4f628c;
	margin-bottom: 10px;
}
.pre-bottom .info p{
	line-height: 24px;
	margin-bottom: 5px;
	color:rgba(255,255,255,.5);
}
.pre-bottom .info .law{
	padding-top: 15px;
	border-top: 1px solid #585f92;
	color: rgba(255,255,255,.5);
}

/*------- 登录按钮 ---------*/
.zygw {  }
a.gwloginbtn, a.gwsqsybtn { display: inline-block; text-align: center; width: 110px; height: 34px; line-height: 34px; font-size: 16px; color: #00479d; border-radius: 4px;  border: 1px solid #00479d; font-weight: normal;}
a.gwsqsybtn { background-color:#00479d; color: #fff; margin-left: 10px; }
a.gwloginbtn:hover { background-color:#eff4f9; }
a.gwsqsybtn:hover { background-color:#075abe; }


