@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
input,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    word-break: break-all;
}

body {
    font-family: Arial, sans-serif, "微软雅黑";
    font-size: 14px;
    /* line-height: 160%; */
    color: #222;
    background-color: #fff;
}

html,
body {
    height: 100%;
    background: #eef1f3;
}

html {
    width: 100%;
    min-width: 1240px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 16px;
}

img {
    border: 0;
    vertical-align: middle;
}

em,
i {
    font-style: normal;
}

ins {
    text-decoration: none;
}

ul,
li,
ol,
dt,
dd,
dl {
    list-style: none;
    outline: none;
}

input,
button,
select,
textarea {
    outline: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

a:link,
a:visited {
    color: #222;
    text-decoration: none;
}

a:hover,
a:active {
    color: #2574e5;
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    *zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.elips,
.elips li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.elips2,
.elips2 li {
    word-break: break-all;
    display: -webkit-box;
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    -webkit-line-clamp: 2;
    overflow: hidden;
}




/* 颜色 */
.blue{
    color: #517ee3;
}
.yellow{
    color: #ffc000;
}
.darkyellow{
    color: #bf9d00;
}
.color666{
    color: #666;
}
.color999{
    color: #999;
}




/* 头部 */
.head-top{border-bottom: 1px #e6eeff solid;padding: 24px 0 30px;background: #fff;}
/* .head{width: 1200px;margin: 0 auto;position: relative;} */
.head{width: 1200px;margin: 0 auto;display: flex;flex-direction: row; justify-content:space-between;
  align-items: center;}


.head h1{font-size: 24px;letter-spacing: 3px;font-weight: 600;}
/* 搜索框 */
.searchInpu{width: 570px;background-color: #f4f4f4;border-radius: 50px;cursor: pointer;}
.searchInpu .el-input{width: 96%;margin-left: 20px;padding: 5px 0;color: #222;}
.searchInpu .el-input-group__append{background: none;border: none;font-size: 22px;color: #517ee3;}
.searchInpu .el-input__inner{border: none;background: none;text-align: left;padding-right: 0;}
.searchInpu .el-input-group__prepend{background: none;width: 170px;border: 0;padding-right: 35px;padding-left: 0;}
.searchInpu .el-input-group__prepend .el-input__inner{border-right: 1px #e0e0e0 solid !important;height: 24px;}
/* .login{font-size: 15px;margin: 10px 0 0 30px;} */
.login{font-size: 15px;}
.portWrap{padding: 5px;font-size: 18px;border-radius: 50px;display: inline-block;vertical-align: middle;background: #517ee3;color: #fff;margin-right: 5px;}
/* .searchActive{position: absolute;right: 128px;z-index: 99;} */
.searchActive{z-index: 99;}
.searchActive .searchInpu{background: #fff;box-shadow: 0 0 10px rgba(44, 109, 255, .3);}
.searchActive .searchRecord{background: #fff;box-shadow: 1px 0 5px rgba(4, 0, 0, .2);margin-top: 60px;border-radius: 5px;padding: 20px;}
.searchActive .record{border-bottom: 1px #dcdcdc dashed;padding-bottom: 15px;}
.searchActive .record p{font-size: 12px;color: #666;}
.searchActive .record a{display: block;margin-top: 15px;}
.el-button.btnClear{padding: 0;color: #666;font-size: 12px;}
.el-button.btnClear i{margin-right: 5px;font-size: 14px;}
.el-button.btnClear:hover,.el-button.btnClear:focus{color: #517ee3;}
.searchActive .record.hot{margin-top: 20px;border: none;padding-bottom: 0;}

/* 导航 */
.head-nav{width: 550px;margin: 30px auto 10px;}
.head-nav.el-menu.el-menu--horizontal{border: none;}
.head-nav.el-menu--horizontal>.el-menu-item{font-size: 16px;color: #333;height: 30px;line-height: 30px;border-radius: 50px;padding: 0 15px;}
.head-nav.el-menu--horizontal>.el-menu-item+.el-menu-item{margin-left: 52px;}
.head-nav.el-menu--horizontal>.el-menu-item:hover{color: #517ee3;}
.head-nav.el-menu--horizontal>.el-menu-item.is-active{border: none;background: #517ee3;color: #fff;}


/* 内容区 */
.contWrap{width: 1200px;margin: 15px auto 60px;min-height: calc(100vh - 330px);}
.cont{margin-bottom: 30px;}

/* 检索框 */
.searchSmall{position: absolute;top:6px;right: 20px;width: 27%;border-radius: 50px;z-index: 99;}
.searchSmall .el-input__inner{border-radius: 50px;background: #eef1f3;}
.searchSmall.el-input--mini .el-input__icon{font-size: 16px;color: #777;}
/* 单行tab */
.topTabs .el-tabs__nav-scroll{padding-left: 20px;height: 44px;}
.topTabs .el-tabs__nav-wrap::after{height: 5px;background: #eef1f3;}
.topTabs.el-tabs .el-tabs__item.is-active{color: #517ee3;font-weight: 600;background: #517ee3;color: #fff;border-radius: 50px;height: 28px;line-height: 28px;}
.topTabs .el-tabs__item:hover{color: #517ee3;}
.topTabs .el-tabs__active-bar{background-color: #517ee3;height: 3px;display: none;}
.topTabs .el-tabs__content{padding: 0 20px 30px;}
.topTabs .className.el-tabs__item.is-disabled{color: #333 !important;}
.topTabs #tab-0.el-tabs__item.is-disabled{color: #333;padding-right: 0;}
.topTabs .el-tabs__item{padding: 0 15px;}
/* 二级分类tab */
.topTabs .classTabs .el-tabs__nav-wrap::after{height: 1px;background-color: #e5e5e5;}
.topTabs .classTabs .el-tabs__nav-scroll{height: 40px;}
.classTabs.el-tabs .el-tabs__item.is-active{color: #517ee3;font-weight: 600;background: none;}
.classTabs .el-tabs__active-bar{display: block;}

/* 按钮 */
.el-button{border-radius: 3px;}
.el-button--primary{background:#517ee3;border-color: #517ee3;}
.el-button--primary i{margin-right: 5px;}
.el-button--primary:hover,.el-button--primary:focus{background: #4b73d1;}

/* element-ui */
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{background: #517ee3;border-color: #517ee3;}
.el-checkbox__input.is-checked+.el-checkbox__label{color: #517ee3;}
/* 表格 */
.el-table{margin: 10px 0 20px;}
.el-table .cell{font-size: 14px;color: #333;}
.el-table th{background: #f5f5f5;padding: 5px 0;}
.el-table td{border-bottom-color: #e5e5e5;}
.el-table::before{background: #e5e5e5;}
/* 分页 */
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{
    background: #fff;border: 1px #bfbfbf solid;border-radius: 3px;}
.el-pagination.is-background .el-pager li:not(.disabled).active{background: #fff;color: #517ee3;border-color: #517ee3;}


/* 版权信息 */
.footer{background: url(../images/footer.jpg) no-repeat center center;height: 160px;overflow: hidden;}
.footer ul{width: 1200px;margin: 26px auto 0;color: #fff;font-size: 13px;}
.footer ul li:first-child{width: 84%;}
.footer ul li{display: inline-block;vertical-align: middle;}
.footer ul li p{margin-top: 16px;}
.footer ul li a{color: #fff;margin-right: 20px;}
.footer ul li a:hover{opacity: .7;}
.footer ul li img{display: inline-block;vertical-align: middle;margin-left: 10px;}
.footer ul li img:hover{cursor: pointer;opacity: .8;}


/* --------------- Author: 王祝君 Time：20200922 --------------- */
